opencv-contrib-python==4.8.1.78
numpy==1.25.0
scipy
PyYAML>=6.0.1
argparse>=1.4.0
screeninfo
PyQt5>=5.15.10
pygame
torch
copy
git+https://github.com/pvigier/perlin-numpy
simple_pid
thread6
# pip install skrl["torch"]
